<style>
    body{background-color:#f0f0f0;}
    #app{width:800px;min-height:400px;display:table;margin:auto;border:1px solid #cccccc;margin-top:90px;}
    #payways{width:160px;display:table-cell;background-color:#f0f0f0;vertical-align:top;}
    #payment{width:640px;display:table-cell;background-color:#ffffff;vertical-align:top;position:relative;}
    .payway{display:block;height:40px;line-height:40px;font-size:15px;text-indent:20px;}
    .payway:hover,.payway.active{background-color:#ffffff;}
    .payway > img {height:24px;width:24px;vertical-align:middle;margin:6px;}
    .pay{display:none;}
    #payamount{border:none;border-bottom:1px solid #4CAF50;font-size:30px;width:138px;font-family:inherit;}
</style>
<script src="//static.wlniao.com/jquery/jquery.qrcode.min.js"></script>
<script src="/jedate/jedate.js"></script>
<div id="app">
    <div id="payways">
        <div style="line-height:27px;font-size:14px;text-align:center;background-color:#e0e0e0;">请选择支付方式</div>
        @if (ViewBag.Payway1){<a class="payway" id="payway1" onclick="show(1)"><img src="/icons/payway1.svg" />现金支付</a>}
        @if (ViewBag.Payway2){<a class="payway" id="payway2" onclick="show(2)"><img src="/icons/payway2.svg" />刷卡支付</a>}
        <a class="payway" id="payway3" onclick="show(3)"><img src="/icons/payway3.svg" />微信支付</a>
        @*<a class="payway" id="payway4" onclick="show(4)"><img src="/icons/payway4.svg" />支付宝支付</a>*@
        @*<a class="payway" id="payway5" onclick="show(5)"><img src="/icons/payway5.svg" />转账代扣</a>*@
        @if (ViewBag.Retainer){<a class="payway" id="payway6" onclick="show(6)"><img src="/icons/payway6.svg" />余额支付</a>}
    </div>
    <div id="payment">
        <div style="padding:30px;">
            <span style="color:#b0b0b0">应付</span>
            <div style="color:#ff6a00;font-size:30px;margin-bottom:30px;font-family:inherit;">￥ @ViewBag.Amount</div>
            <div class="pay pay1 pay2 pay6">
                <div class="pay1 pay2">
                    <div style="display:none">
                        <span style="color:#b0b0b0">实付</span>
                        <div style="color:#4CAF50;font-size:30px;">￥ <input type="text" id="payamount" value="@ViewBag.Amount" readonly="readonly" style="background:#ffffff" /></div>
                        <div style="height:20px">&nbsp;</div>
                    </div>
                    <span style="color:#b0b0b0">经办人</span>
                    <div style="color:#111111;font-size:20px;padding-left:35px;">@Html.Raw(ViewBag.AccountName)</div>
                    <div style="height:20px">&nbsp;</div>
                </div>

                <div class="pay6">
                    <span style="color:#b0b0b0">预缴余额</span>
                    <div style="color:#4CAF50;font-size:30px;margin-bottom:30px;font-family:inherit;">￥ @ViewBag.Balance</div>
                </div>

                <div id="setday" style="display:none">
                    <span style="color:#b0b0b0">缴费日期</span>
                    <div style="color:#111111;font-size:20px;padding-left:35px;padding-top:8px;">
                        <input id="paytime" type="text" placeholder="请选择" style="text-indent:12px;" readonly />
                    </div>
                </div>
            </div>
            <div class="pay pay3">
                <div id="qr3"></div>
                <span style="color:#b0b0b0;display:none;">请使用微信扫描此二维码完成付款！</span>
            </div>
            <div style="position:absolute;bottom:30px;right:30px;">
                <el-button size="small" type="info" :plain="true" onclick="history.back()">返回</el-button>
                <el-button size="small" type="info" :plain="true" onclick="location.href='/retainer?student=@ViewBag.Student'" class="pay pay6">预缴充值</el-button>
                <el-button size="small" type="info" onclick="setday()" class="pay pay2 pay6">补单</el-button>
                <el-button size="small" type="primary" onclick="pay()" class="pay pay1 pay2">确认</el-button>
                <el-button size="small" type="primary" onclick="check()" class="pay pay3">查询支付状态</el-button>
                <el-button size="small" type="primary" onclick="pay()" class="pay pay6">使用余额支付</el-button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ts = 0;
    var app = new Vue({ el: '#app' });
    var _payway = 0;
    var _qr3 = '';
    function show(way) {
        _payway = way;
        $('.pay').hide();
        $('.pay' + way).show();
        $('.payway').removeClass('active');
        $('#payway' + way).addClass('active');
        if (way == 3) {
            $.getJSON(location.pathname, { 'do': 'wx_qrpay', 'id': '@ViewBag.Id' }, function (rlt) {
                if (rlt.success) {
                    if (_qr3 != rlt.message) {
                        _qr3 = rlt.message;
                        $('#qr3 canvas').remove();
                        $('#qr3').qrcode({ width: 150, height: 150, correctLevel: 0, text: rlt.message });
                        $('#qr3').next().show();
                    }
                } else {
                    iTips(rlt.message, rlt.success);
                }
            })
        }
    }
    function setday() {
        $('#setday').show();
        jeDate({ dateCell: '#paytime', isinitVal: true, isClear: true, zIndex: 999, format: 'YYYY-MM-DD', clearfun: function (val) { $('#setday').hide(); } });
    }
    function pay() {
        if (new Date().getTime() - ts < 15000) {
            iTips('请求正在处理中，请稍候');
        }
        else {
            ts = new Date().getTime();
            $.getJSON(location.pathname, { 'do': 'confirm', 'id': '@ViewBag.Id', 'payway': _payway, 'payamount': $('#payamount').val(), 'paytime': $('#paytime').val() }, function (rlt) {
                if (rlt.success) {
                    location.href = '/ticket?id=@ViewBag.Id';
                } else {
                    ts = 0;
                    iTips(rlt.message, rlt.success);
                }
            })
        }
    }
    function check() {
        try {
            if (new Date().getTime() - ts < 15000) {
                iTips('请求正在处理中，请稍候');
            }
            else {
                ts = new Date().getTime();
                $.getJSON(location.pathname, { 'do': 'check', 'id': '@ViewBag.Id' }, function (rlt) {
                    if (rlt.success) {
                        iTips(rlt.message, true);
                        location.href = '/ticket?id=@ViewBag.Id';
                    } else {
                        ts = 0;
                        iTips(rlt.message);
                    }
                });
            }
        } catch (e) { }
    }
    var tsCheck = 0;
    function auto() {
        try {
            if (new Date().getTime() - tsCheck > 10000) {
                tsCheck = new Date().getTime();
                $.getJSON(location.pathname, { 'do': 'check', 'id': '@ViewBag.Id' }, function (rlt) {
                    if (rlt.success) {
                        iTips(rlt.message, true);
                        location.href = '/ticket?id=@ViewBag.Id';
                    } else {
                        tsCheck = 0;
                    }
                });
            }
        } catch (e) { }
    }
    $('#payways a')[0].click();
    setInterval(auto, 1000);
</script>