<html>
<head>
<title>@ViewBag.Title</title>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="width=320,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
<link href="/wx/body.css?v=@ViewBag.ResVersion" rel="stylesheet" />
<script type="text/javascript" src="//static.wlniao.com/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//static.wlniao.com/wlniao/1.0.0/wln.js?v=@ViewBag.ResVersion"></script>
@RenderSection("head", false)
</head>
<body>
<div class="divBody" id="divBody">
@RenderBody()
@RenderSection("body", false)
</div>
<div class="divFoot">
    <a class="nav" style="width:33%;" href="/wx">
        <svg width="200" height="200" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="transform-group"><g transform="scale(0.1953125, 0.1953125)"><path d="M961.486736 514.491751c-7.433296 0-14.924921-2.361791-21.265326-7.238868L510.509555 177.170119 83.762217 504.326227c-15.353686 11.773138-37.283138 8.856715-49.028647-6.467295-11.745509-15.325034-8.838296-37.274952 6.477528-49.019437l448.031083-343.487052c12.565177-9.637498 30.026874-9.637498 42.572608 0.019443l450.997648 346.43315c15.316847 11.764951 18.184151 33.713846 6.438643 49.019437C982.344786 509.788635 971.983811 514.491751 961.486736 514.491751zM838.319555 925.873122 187.420065 925.873122c-19.314904 0-34.96228-15.657608-34.96228-34.96228L152.457786 502.159888c0-19.304671 15.647375-34.96228 34.96228-34.96228 19.295462 0 34.96228 15.657608 34.96228 34.96228l0 353.789699L803.357276 855.949586 803.357276 502.159888c0-19.304671 15.666818-34.96228 34.96228-34.96228 19.315928 0 34.961256 15.657608 34.961256 34.96228L873.280812 890.910842C873.280812 910.215514 857.635483 925.873122 838.319555 925.873122zM661.987524 793.028535c-19.295462 0-34.963303-15.656585-34.963303-34.961256L627.024222 714.421222c0-60.803831-49.458435-110.271476-110.271476-110.271476-60.793598 0-110.271476 49.467645-110.271476 110.271476l0 43.645033c0 19.304671-15.647375 34.961256-34.96228 34.961256-19.295462 0-34.963303-15.656585-34.963303-34.961256L336.555687 714.421222c0-99.366102 80.850399-180.197058 180.196035-180.197058 99.385545 0 180.197058 80.830957 180.197058 180.197058l0 43.645033C696.949804 777.37195 681.302429 793.028535 661.987524 793.028535z"></path></g></g></svg>
        <div class="title">首页</div>
    </a>
    <a class="nav" style="width:33%" href="/wx/orderlist">
        <svg width="200" height="200" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="transform-group"><g transform="scale(0.1953125, 0.1953125)"><path d="M861.165 953.916l-3.896 0-1.993-1.232c-3.824 0.507-7.575 1.232-11.526 1.232l-3.896 0-19.046-11.797 0-34.505 17.397 10.783 0-10.783 22.816 14.118c28.235-8.101 49.112-35.52 49.112-68.086l0-685.372c0-38.945-29.775-70.605-66.4-70.605l-22.925 0 0-29.666 40.341 0c52.283 0 94.817 44.98 94.817 100.271l0 685.372c0 55.31-42.533 100.271-94.798 100.271l0 0zM700.799 953.916l-3.878 0-1.993-1.232c-3.824 0.507-7.575 1.232-11.526 1.232l-3.896 0-109.279-67.615-129.576 69.663-8.227-4.929-9.17 4.929-116.51-69.717-123.034 67.67-3.498 0c-3.987 0-7.793-0.743-11.634-1.251l-2.265 1.251-3.516 0c-52.265 0-94.798-44.962-94.798-100.271l0-685.372c0-55.292 42.533-100.271 94.798-100.271l538.001 0c52.283 0 94.798 44.98 94.798 100.271l0 685.372c0 55.31-42.516 100.271-94.798 100.271l0 0zM749.785 168.271c0-38.945-29.794-70.605-66.4-70.605l-503.169 0c-36.608 0-66.382 31.66-66.382 70.605l0 685.372c0 32.801 21.149 60.384 49.673 68.286l135.484-74.519 8.336 4.984 9.061-4.984 116.763 69.862 129.974-69.898 8.101 5.02 9.315-5.02 120.115 74.356c28.252-8.101 49.13-35.52 49.13-68.086l0-685.372zM629.27 705.584l-386.697 0c-7.847 0-14.208-6.633-14.208-14.843 0-8.191 6.361-14.824 14.208-14.824l386.697 0c7.847 0 14.208 6.633 14.208 14.824 0 8.21-6.361 14.843-14.208 14.843l0 0zM629.27 490.507l-386.697 0c-7.847 0-14.208-6.633-14.208-14.824s6.361-14.843 14.208-14.843l386.697 0c7.847 0 14.208 6.651 14.208 14.843s-6.361 14.824-14.208 14.824l0 0zM629.27 275.448l-386.697 0c-7.847 0-14.208-6.651-14.208-14.843 0-8.173 6.361-14.824 14.208-14.824l386.697 0c7.847 0 14.208 6.651 14.208 14.824 0 8.191-6.361 14.843-14.208 14.843l0 0z"></path></g></g></svg>
        <div class="title">缴费单</div>
        <i class="nav-mark"></i>
    </a>
    <a class="nav" style="width:33%" href="/wx/student">
        <svg width="128" height="128" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M897.043 592.368a692.539 692.539 0 0 0 1.073-38.82c0-89.829-36.61-175.557-103.048-241.355-47.32-46.784-107.741-81.034-175.696-99.419-51.57-12.311-110.444-15.032-157.771-17.208-35.885-1.629-66.853-3.045-83.28-8.03-43.156-13.076-75.611-39.112-99.183-79.532-14.108-24.17-32.547-27.757-42.286-27.757-3.735 0-7.433 0.487-10.987 1.43-41.411 11.08-56.551 79.42-56.88 134.521-0.31 46.78 9.05 93.603 27.146 136.064-0.564 0.602-1.087 1.273-1.633 1.976-44.641 60.055-68.233 131.568-68.233 206.781 0 10.61 0.31 21.07 0.925 31.35-43.497 17.86-68.973 64.553-59.906 112.128 5.11 26.583 20.143 49.502 42.43 64.535 21.758 14.63 49.097 19.925 73.72 14.867 0.384-0.057 0.764-0.163 1.125-0.237 13.039 20.67 28.215 39.62 45.258 56.464 35.411 35.032 78.841 61.758 129.176 79.382 46.109 16.083 96.934 24.243 151.11 24.243l5.71-0.02c159.202-1.684 270.192-55.194 330.06-159 25.26 3.665 50.266-2.666 70.971-17.514 21.813-15.717 36.156-39.13 40.439-65.873 7.359-46.163-18.209-91.512-60.24-108.976zM228.66 410.54c43.263 61.035 106.56 103.607 188.429 126.671 79.235 22.249 152.596 22.304 210.803 0.292 53.779-20.453 92.69-58.477 109.589-107.127 9.627-27.812 11.206-57.244 4.823-85.566 3.628 3.282 7.184 6.6 10.61 10.03 54.993 54.393 85.292 124.945 85.292 198.71 0 119.27-31.061 206.758-92.31 260.051-52.293 45.529-129.936 69.173-230.733 70.208l-4.968 0.037c-98.804 0-181.195-29.849-238.237-86.293-56.916-56.32-85.802-135.882-85.802-236.534 0-53.726 14.649-105.403 42.504-150.479z m-73.746 314.123c-4.133-1.087-8.105-2.902-11.732-5.35-8.938-6.002-14.974-15.268-17.08-26.11-2.467-12.876 1.305-25.821 9.428-35.087 4.717 23.318 11.206 45.567 19.384 66.547z m743.22-32.783c-1.758 10.914-7.543 20.379-16.319 26.707-2.573 1.852-5.388 3.412-8.396 4.536 6.725-19.93 12.113-41.291 16.121-63.883 7.178 8.832 10.479 20.653 8.595 32.64z" p-id="2953"></path><path d="M622.487 721.8c16.537 0 29.954-13.437 29.954-29.955 0-14.145 11.026-25.655 24.55-25.655 13.53 0 24.553 11.51 24.553 25.655 0 16.52 13.418 29.955 29.956 29.955 16.495 0 29.952-13.437 29.952-29.955 0-47.183-37.894-85.55-84.462-85.55-46.561 0-84.423 38.366-84.423 85.55 0 16.518 13.4 29.955 29.92 29.955zM306.918 721.8c16.5 0 29.95-13.437 29.95-29.955 0-14.145 11.026-25.655 24.555-25.655 13.525 0 24.55 11.51 24.55 25.655 0 16.52 13.418 29.955 29.954 29.955 16.52 0 29.956-13.437 29.956-29.955 0-47.183-37.898-85.55-84.461-85.55s-84.46 38.366-84.46 85.55c0 16.518 13.418 29.955 29.956 29.955z" p-id="2954"></path></svg>
        <div class="title">学员</div>
    </a>
</div>
<script type="text/javascript">
    $('.divBody').width(document.body.clientWidth).height(document.body.clientHeight - 45);
</script>
@RenderSection("script", false)
@if (ViewBag.UserAgent == "weixin")
{
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script type="text/javascript">
    wx.config({ debug: false, jsApiList: ["hideOptionMenu", "closeWindow"] });
    wx.ready(function () { wx.hideOptionMenu() });
</script>
}
</body>
</html>