@{
    Layout = "_master.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-color: #f0f0f0;
            font-family: Microsoft Yahei;
        }
        .card {
            width: 98%;
            margin: 1%;
            padding: 2%;
            display: table;
            background: #ffffff;
            border-radius: 6px;
            -webkit-box-shadow: 0 2px 3px rgba(100,100,100,0.3 );
            -webkit-box-sizing: border-box;
        }
        .student {
            width: 98%;
            margin: 1%;
            padding: 1% 2%;
            display: table;
            margin-top: 6px;
            background: #ffffff;
            border-radius: 6px;
            -webkit-box-shadow: 0 2px 3px rgba(100,100,100,0.3 );
            -webkit-box-sizing: border-box;
        }
        .card > div,.student > div {
            display: table-cell;
            vertical-align: top;
        }
        .avatar {
            text-align: center;
            padding-right: 10px;
        }
        .avatar > img{width:100%;}
        .card .avatar {width:118px;}
        .student .avatar {width: 64px;}
        h3{ font-size:17px;line-height:24px;color: #009688;}
        h3 > em {
            font-size: 12px;
            vertical-align: bottom;
            margin-left: 10px;
            color: #607D8B;
            font-family: cursive;
        }
        p{font-size:14px;color:#555555;}
    </style>
}
@section body{
    @if (!string.IsNullOrEmpty(ViewBag.Student)){
    <div class="card">
        <div class="avatar"><img src="@Html.Raw(ViewBag.Avatar)" /></div>
        <div>
            <h3>@Html.Raw(ViewBag.StudentName)<em>@Html.Raw(ViewBag.StudentId)</em></h3>
            <p>@Html.Raw(ViewBag.SchoolName + ViewBag.ClassName)</p>
            <p>@Html.Raw(ViewBag.GradeName)</p>
            <p style="margin-top:30px;">余额：<a href="/wx/recharge" style="color:#ff6a00;font-size:16px;vertical-align:middle;text-decoration:none">￥@ViewBag.Balance<font style="font-size:0.5em;color:#2196F3;margin-left:10px;vertical-align:1px;">充值</font></a></p>
        </div>
    </div>
    }
    @Html.Raw(ViewBag.HtmlList)
    <div style="text-align:center;margin-top:35px;color:#cac6c6;font-size:11px;line-height:11px;" id="OrganName" ondblclick="test()">@Html.Raw(ViewBag.OrganName)</div>
    <div style="text-align:center;margin-top:35px;"><a style="padding:9px 95px;color:#ffffff;background:#40b2f5;font-size:15px;border-radius:3px;" onclick="Logout()">注销登录</a></div>
}
@section script{
    <script type="text/javascript">
        document.title = '我关注的学员';
        $('.nav:nth-child(3)').addClass('active');
        function Select(id) {
            $.getJSON(location.pathname, { 'do': 'select', 'student': id }, function (rlt) {
                if (rlt.success) {
                    location.reload();
                } else {
                    wln.alert(rlt.message);
                }
            });
        }
        function Logout() {
            $.getJSON('/wx/ajax', { 'do': 'logout' }, function (rlt) {
                if (rlt.message == 'logout') {
                    $.getJSON('@ViewBag.UCenter?callback=?&do=logout', {}, function (rlt) {
                        location.href = location.pathname;
                    });
                } else {
                    location.href = '@ViewBag.UCenter?do=logout';
                }
            });
        }
        function test() {
            $('#OrganName').html('@ViewBag.iHostDomain');
        }
    </script>
}